html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

@font-face{
  font-family: BentonSansCondensedBold;
  src: url('assets/BentonSansCondensedBold.otf') format('opentype');
}

@font-face{
  font-family: Abel;
  src: url('assets/Abel.ttf') format('truetype');
}

#title_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#title{
  font-family: BentonSansCondensedBold;
  font-size: 54px;
}

#subtitle{
  font-family: BentonSansCondensedBold;
  font-size: 28px;
}

#description{
  font-family: Abel;
  font-size: 16px;
}

a {
  text-decoration:none;
  color: white;
}

a:hover, a:focus{
  text-decoration:underline;
}